<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Choose your own adventure CSSI </title>
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>
    <p>You've just gotten out of CSSI and are heading to dinner. <br>When you get to the corner
    a self-driving car pulls up.</p>
    <p>The door opens and no one is inside, what do you want top do?</p>
    <ul>
      <li> <a href="/run">Run!</a></li>
      <li> <a href="/gram">Gram it</a></li>
      <li> <a href="/jump_in">Jump in the Car!</a></li>
      <li> <a href="/911">Call 911</a></li>
    </ul>

  </body>
</html>
